.container{
  padding-bottom: 100px;
}

/*   @media screen and (min-width: 900px) {
  app-footer{
    display: none !important;
   }
  } */

  @media  screen and (max-width: 768px) {
    app-footer {
      display: none !important;
    }

  }
